body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u8145 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-20px;
  width:1281px;
  height:352px;
}
#u8145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8147 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:172px;
  width:662px;
  height:343px;
}
#u8147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8148 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:182px;
  width:170px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u8149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8149 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:219px;
  width:643px;
  height:181px;
  font-size:20px;
}
#u8149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  word-wrap:break-word;
}
#u8150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:365px;
}
#u8150 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:440px;
  width:402px;
  height:365px;
}
#u8150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8151 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:493px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u8151_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8151.selected {
}
#u8151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8152 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:493px;
  width:140px;
  height:40px;
}
#u8152_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(220, 255, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8152.mouseOver {
}
#u8152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8153 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:556px;
  width:452px;
  height:175px;
  font-size:16px;
}
#u8153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u8154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7100B2;
}
#u8154 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:867px;
  width:151px;
  height:36px;
  font-size:28px;
  color:#7100B2;
}
#u8154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  white-space:nowrap;
}
#u8155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8155 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:493px;
  width:140px;
  height:40px;
}
#u8155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8156 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:421px;
  width:290px;
  height:40px;
}
#u8156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u8157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8157 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:42px;
  width:357px;
  height:40px;
  color:#FFFFFF;
}
#u8157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u8158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8158 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:632px;
  height:66px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  white-space:nowrap;
}
#u8159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:74px;
}
#u8159 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:52px;
  width:179px;
  height:74px;
}
#u8159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8161 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:208px;
  width:307px;
  height:225px;
}
#u8161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u8163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  font-size:16px;
  text-align:left;
}
.u8163_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(68, 92, 105, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u8163.mouseOver {
}
.u8163_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u8162-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
}
#u8162-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:305px;
  height:45px;
}
#u8162-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:305px;
  height:45px;
}
#u8162-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:305px;
  height:45px;
}
#u8162-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:305px;
  height:45px;
}
#u8162 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:208px;
  width:305px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  color:#999999;
}
#u8165 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:173px;
  width:356px;
  height:36px;
  color:#999999;
}
#u8165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8166 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:179px;
  width:293px;
  height:25px;
}
#u8166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u8167 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:183px;
  width:23px;
  height:20px;
}
#u8167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8168 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:386px;
}
#u8168_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
}
#u8170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u8170_img.mouseOver {
}
#u8170.mouseOver {
}
#u8170_img.selected {
}
#u8170.selected {
}
#u8170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u8171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:156px;
  height:66px;
}
#u8171_img.mouseOver {
}
#u8171.mouseOver {
}
#u8171_img.selected {
}
#u8171.selected {
}
#u8171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u8172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:156px;
  height:46px;
}
#u8172_img.mouseOver {
}
#u8172.mouseOver {
}
#u8172_img.selected {
}
#u8172.selected {
}
#u8172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u8173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:156px;
  height:50px;
}
#u8173_img.mouseOver {
}
#u8173.mouseOver {
}
#u8173_img.selected {
}
#u8173.selected {
}
#u8173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u8174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:156px;
  height:50px;
}
#u8174_img.mouseOver {
}
#u8174.mouseOver {
}
#u8174_img.selected {
}
#u8174.selected {
}
#u8174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:156px;
  height:56px;
}
#u8175_img.mouseOver {
}
#u8175.mouseOver {
}
#u8175_img.selected {
}
#u8175.selected {
}
#u8175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u8176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:156px;
  height:62px;
}
#u8176_img.mouseOver {
}
#u8176.mouseOver {
}
#u8176_img.selected {
}
#u8176.selected {
}
#u8176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:56px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u8177_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u8179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8179_img.mouseOver {
}
#u8179.mouseOver {
}
#u8179_img.mouseDown {
}
#u8179.mouseDown {
}
#u8179_img.selected {
}
#u8179.selected {
}
#u8179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u8180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u8180_img.mouseOver {
}
#u8180.mouseOver {
}
#u8180_img.mouseDown {
}
#u8180.mouseDown {
}
#u8180_img.selected {
}
#u8180.selected {
}
#u8180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u8181_img.mouseOver {
}
#u8181.mouseOver {
}
#u8181_img.mouseDown {
}
#u8181.mouseDown {
}
#u8181_img.selected {
}
#u8181.selected {
}
#u8181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u8182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u8182_img.mouseOver {
}
#u8182.mouseOver {
}
#u8182_img.mouseDown {
}
#u8182.mouseDown {
}
#u8182_img.selected {
}
#u8182.selected {
}
#u8182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u8183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u8183_img.mouseOver {
}
#u8183.mouseOver {
}
#u8183_img.mouseDown {
}
#u8183.mouseDown {
}
#u8183_img.selected {
}
#u8183.selected {
}
#u8183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u8184_img.mouseOver {
}
#u8184.mouseOver {
}
#u8184_img.mouseDown {
}
#u8184.mouseDown {
}
#u8184_img.selected {
}
#u8184.selected {
}
#u8184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u8185_img.mouseOver {
}
#u8185.mouseOver {
}
#u8185_img.mouseDown {
}
#u8185.mouseDown {
}
#u8185_img.selected {
}
#u8185.selected {
}
#u8185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u8186_img.mouseOver {
}
#u8186.mouseOver {
}
#u8186_img.mouseDown {
}
#u8186.mouseDown {
}
#u8186_img.selected {
}
#u8186.selected {
}
#u8186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u8187_img.mouseOver {
}
#u8187.mouseOver {
}
#u8187_img.mouseDown {
}
#u8187.mouseDown {
}
#u8187_img.selected {
}
#u8187.selected {
}
#u8187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:913px;
  width:1089px;
  height:378px;
  overflow:hidden;
}
#u8188_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8188_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:0px;
  width:1100px;
  height:623px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:39px;
  width:206px;
  height:282px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:53px;
  width:202px;
  height:277px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:162px;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:-1140px;
  top:567px;
  width:94px;
  height:162px;
  opacity:0.5;
}
#u8192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:178px;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:91px;
  width:104px;
  height:178px;
  opacity:0.5;
}
#u8193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:182px;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:98px;
  width:106px;
  height:182px;
  opacity:0.5;
}
#u8194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:180px;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:85px;
  width:179px;
  height:180px;
}
#u8195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:85px;
  width:178px;
  height:180px;
}
#u8196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:85px;
  width:178px;
  height:180px;
}
#u8197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:85px;
  width:180px;
  height:180px;
}
#u8198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:275px;
  width:102px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:275px;
  width:153px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u8201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:275px;
  width:164px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u8202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:275px;
  width:172px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u8203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8188_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8188_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8204 {
  position:absolute;
  left:-21px;
  top:0px;
}
#u8204_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background-image:none;
}
#u8204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-size:36px;
}
#u8205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u8206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8207 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:39px;
  width:206px;
  height:282px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:53px;
  width:202px;
  height:277px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:178px;
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:91px;
  width:104px;
  height:178px;
  opacity:0.5;
}
#u8209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:182px;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:98px;
  width:106px;
  height:182px;
  opacity:0.5;
}
#u8210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:91px;
  width:178px;
  height:180px;
}
#u8211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:91px;
  width:178px;
  height:180px;
}
#u8212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:91px;
  width:180px;
  height:180px;
}
#u8213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:281px;
  width:153px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u8215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:281px;
  width:164px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u8216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:281px;
  width:172px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u8217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:91px;
  width:182px;
  height:180px;
}
#u8217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:281px;
  width:128px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u8188_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8188_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8219 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8219_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background-image:none;
}
#u8219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-size:36px;
}
#u8220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8221_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:96px;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:96px;
  width:2px;
  height:93px;
}
#u8221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8222_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:96px;
  width:2px;
  height:72px;
}
#u8222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8223_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:96px;
  width:2px;
  height:72px;
}
#u8223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:125px;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:1060px;
  height:125px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:200px;
}
#u8224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8225_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:96px;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:96px;
  width:2px;
  height:93px;
}
#u8225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:128px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:182px;
  width:199px;
  height:128px;
}
#u8226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:214px;
  width:300px;
  height:64px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8228_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:96px;
  width:2px;
  height:72px;
}
#u8228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#94B20E;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:163px;
  width:162px;
  height:92px;
  color:#94B20E;
}
#u8229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:181px;
  width:94px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u8231_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8231 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:96px;
  width:2px;
  height:72px;
}
#u8231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:163px;
  width:162px;
  height:92px;
}
#u8232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:195px;
  width:128px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u8234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:140px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:137px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:120px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:10px;
  width:116px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
