body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:45px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:559px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:-555px;
  top:11px;
  width:1085px;
  height:559px;
  opacity:0.4;
}
#u3930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:579px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-8px;
  width:410px;
  height:579px;
}
#u3931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#94B20E;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:11px;
  width:459px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#94B20E;
}
#u3932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
#u3933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:58px;
  width:179px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u3933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u3934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:390px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u3934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:390px;
  width:100px;
  height:40px;
}
#u3935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:280px;
  width:319px;
  height:50px;
}
#u3936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u3937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:235px;
  width:125px;
  height:19px;
}
#u3937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u3938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:171px;
  width:80px;
  height:19px;
}
#u3938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u3939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:135px;
  width:74px;
  height:34px;
}
#u3939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  white-space:nowrap;
}
#u3940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:129px;
  width:59px;
  height:19px;
}
#u3940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u3941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:107px;
  width:56px;
  height:19px;
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u3942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:258px;
  width:127px;
  height:19px;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  white-space:nowrap;
}
#u3943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:214px;
  width:111px;
  height:19px;
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
#u3944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:193px;
  width:78px;
  height:19px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  white-space:nowrap;
}
