body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-20px;
  width:1281px;
  height:352px;
}
#u12228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:905px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:270px;
  width:1075px;
  height:905px;
}
#u12230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:172px;
  width:611px;
  height:394px;
}
#u12231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:172px;
  width:140px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u12233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:219px;
  width:702px;
  height:671px;
  font-size:16px;
}
#u12233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u12234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:387px;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:462px;
  width:464px;
  height:387px;
}
#u12234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:42px;
  width:357px;
  height:40px;
  color:#FFFFFF;
}
#u12235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u12236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:632px;
  height:66px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  white-space:nowrap;
}
#u12237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:74px;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:52px;
  width:179px;
  height:74px;
}
#u12237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:208px;
  width:307px;
  height:225px;
}
#u12239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u12241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  font-size:16px;
  text-align:left;
}
.u12241_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(68, 92, 105, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u12241.mouseOver {
}
.u12241_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u12240-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
}
#u12240-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:305px;
  height:45px;
}
#u12240-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:305px;
  height:45px;
}
#u12240-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:305px;
  height:45px;
}
#u12240-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:305px;
  height:45px;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:208px;
  width:305px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  color:#999999;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:173px;
  width:356px;
  height:36px;
  color:#999999;
}
#u12243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:179px;
  width:293px;
  height:25px;
}
#u12244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:183px;
  width:23px;
  height:20px;
}
#u12245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:386px;
}
#u12246_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
}
#u12248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12248_img.mouseOver {
}
#u12248.mouseOver {
}
#u12248_img.selected {
}
#u12248.selected {
}
#u12248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u12249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:156px;
  height:66px;
}
#u12249_img.mouseOver {
}
#u12249.mouseOver {
}
#u12249_img.selected {
}
#u12249.selected {
}
#u12249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u12250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:156px;
  height:46px;
}
#u12250_img.mouseOver {
}
#u12250.mouseOver {
}
#u12250_img.selected {
}
#u12250.selected {
}
#u12250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u12251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:156px;
  height:50px;
}
#u12251_img.mouseOver {
}
#u12251.mouseOver {
}
#u12251_img.selected {
}
#u12251.selected {
}
#u12251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:156px;
  height:50px;
}
#u12252_img.mouseOver {
}
#u12252.mouseOver {
}
#u12252_img.selected {
}
#u12252.selected {
}
#u12252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:156px;
  height:56px;
}
#u12253_img.mouseOver {
}
#u12253.mouseOver {
}
#u12253_img.selected {
}
#u12253.selected {
}
#u12253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u12254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:156px;
  height:62px;
}
#u12254_img.mouseOver {
}
#u12254.mouseOver {
}
#u12254_img.selected {
}
#u12254.selected {
}
#u12254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:56px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u12255_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u12257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12257_img.mouseOver {
}
#u12257.mouseOver {
}
#u12257_img.mouseDown {
}
#u12257.mouseDown {
}
#u12257_img.selected {
}
#u12257.selected {
}
#u12257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u12258_img.mouseOver {
}
#u12258.mouseOver {
}
#u12258_img.mouseDown {
}
#u12258.mouseDown {
}
#u12258_img.selected {
}
#u12258.selected {
}
#u12258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u12259_img.mouseOver {
}
#u12259.mouseOver {
}
#u12259_img.mouseDown {
}
#u12259.mouseDown {
}
#u12259_img.selected {
}
#u12259.selected {
}
#u12259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u12260_img.mouseOver {
}
#u12260.mouseOver {
}
#u12260_img.mouseDown {
}
#u12260.mouseDown {
}
#u12260_img.selected {
}
#u12260.selected {
}
#u12260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u12261_img.mouseOver {
}
#u12261.mouseOver {
}
#u12261_img.mouseDown {
}
#u12261.mouseDown {
}
#u12261_img.selected {
}
#u12261.selected {
}
#u12261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u12262_img.mouseOver {
}
#u12262.mouseOver {
}
#u12262_img.mouseDown {
}
#u12262.mouseDown {
}
#u12262_img.selected {
}
#u12262.selected {
}
#u12262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u12263_img.mouseOver {
}
#u12263.mouseOver {
}
#u12263_img.mouseDown {
}
#u12263.mouseDown {
}
#u12263_img.selected {
}
#u12263.selected {
}
#u12263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u12264_img.mouseOver {
}
#u12264.mouseOver {
}
#u12264_img.mouseDown {
}
#u12264.mouseDown {
}
#u12264_img.selected {
}
#u12264.selected {
}
#u12264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u12265_img.mouseOver {
}
#u12265.mouseOver {
}
#u12265_img.mouseDown {
}
#u12265.mouseDown {
}
#u12265_img.selected {
}
#u12265.selected {
}
#u12265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
