body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-20px;
  width:1281px;
  height:352px;
}
#u7947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:177px;
  width:662px;
  height:343px;
}
#u7949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:181px;
  width:405px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u7951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:227px;
  width:643px;
  height:183px;
  font-size:20px;
}
#u7951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  word-wrap:break-word;
}
#u7952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:339px;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:430px;
  width:401px;
  height:339px;
}
#u7952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:471px;
  width:189px;
  height:40px;
}
#u7953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:535px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u7954_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7954.selected {
}
#u7954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:535px;
  width:140px;
  height:40px;
}
#u7955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:535px;
  width:140px;
  height:40px;
}
#u7956_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(220, 255, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7956.mouseOver {
}
#u7956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:605px;
  width:452px;
  height:175px;
  font-size:16px;
}
#u7957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u7958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7100B2;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:760px;
  width:228px;
  height:36px;
  font-size:28px;
  color:#7100B2;
}
#u7958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  white-space:nowrap;
}
#u7959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:813px;
  width:180px;
  height:180px;
}
#u7959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:813px;
  width:178px;
  height:180px;
}
#u7960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:813px;
  width:182px;
  height:180px;
}
#u7961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:813px;
  width:178px;
  height:180px;
}
#u7962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1003px;
  width:161px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:1003px;
  width:119px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u7965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:1003px;
  width:173px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1003px;
  width:100px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u7967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:42px;
  width:357px;
  height:40px;
  color:#FFFFFF;
}
#u7967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u7968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:632px;
  height:66px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  white-space:nowrap;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:74px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:52px;
  width:179px;
  height:74px;
}
#u7969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:208px;
  width:307px;
  height:225px;
}
#u7971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u7973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  font-size:16px;
  text-align:left;
}
.u7973_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(68, 92, 105, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u7973.mouseOver {
}
.u7973_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u7972-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
}
#u7972-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:305px;
  height:45px;
}
#u7972-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:305px;
  height:45px;
}
#u7972-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:305px;
  height:45px;
}
#u7972-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:305px;
  height:45px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:208px;
  width:305px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  color:#999999;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:173px;
  width:356px;
  height:36px;
  color:#999999;
}
#u7975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:179px;
  width:293px;
  height:25px;
}
#u7976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:183px;
  width:23px;
  height:20px;
}
#u7977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:386px;
}
#u7978_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
}
#u7980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u7980_img.mouseOver {
}
#u7980.mouseOver {
}
#u7980_img.selected {
}
#u7980.selected {
}
#u7980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u7981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:156px;
  height:66px;
}
#u7981_img.mouseOver {
}
#u7981.mouseOver {
}
#u7981_img.selected {
}
#u7981.selected {
}
#u7981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u7982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:156px;
  height:46px;
}
#u7982_img.mouseOver {
}
#u7982.mouseOver {
}
#u7982_img.selected {
}
#u7982.selected {
}
#u7982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u7983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:156px;
  height:50px;
}
#u7983_img.mouseOver {
}
#u7983.mouseOver {
}
#u7983_img.selected {
}
#u7983.selected {
}
#u7983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u7984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:156px;
  height:50px;
}
#u7984_img.mouseOver {
}
#u7984.mouseOver {
}
#u7984_img.selected {
}
#u7984.selected {
}
#u7984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:156px;
  height:56px;
}
#u7985_img.mouseOver {
}
#u7985.mouseOver {
}
#u7985_img.selected {
}
#u7985.selected {
}
#u7985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:156px;
  height:62px;
}
#u7986_img.mouseOver {
}
#u7986.mouseOver {
}
#u7986_img.selected {
}
#u7986.selected {
}
#u7986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:56px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u7987_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u7989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7989_img.mouseOver {
}
#u7989.mouseOver {
}
#u7989_img.mouseDown {
}
#u7989.mouseDown {
}
#u7989_img.selected {
}
#u7989.selected {
}
#u7989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u7990_img.mouseOver {
}
#u7990.mouseOver {
}
#u7990_img.mouseDown {
}
#u7990.mouseDown {
}
#u7990_img.selected {
}
#u7990.selected {
}
#u7990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u7991_img.mouseOver {
}
#u7991.mouseOver {
}
#u7991_img.mouseDown {
}
#u7991.mouseDown {
}
#u7991_img.selected {
}
#u7991.selected {
}
#u7991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u7992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u7992_img.mouseOver {
}
#u7992.mouseOver {
}
#u7992_img.mouseDown {
}
#u7992.mouseDown {
}
#u7992_img.selected {
}
#u7992.selected {
}
#u7992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u7993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u7993_img.mouseOver {
}
#u7993.mouseOver {
}
#u7993_img.mouseDown {
}
#u7993.mouseDown {
}
#u7993_img.selected {
}
#u7993.selected {
}
#u7993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u7994_img.mouseOver {
}
#u7994.mouseOver {
}
#u7994_img.mouseDown {
}
#u7994.mouseDown {
}
#u7994_img.selected {
}
#u7994.selected {
}
#u7994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u7995_img.mouseOver {
}
#u7995.mouseOver {
}
#u7995_img.mouseDown {
}
#u7995.mouseDown {
}
#u7995_img.selected {
}
#u7995.selected {
}
#u7995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u7996_img.mouseOver {
}
#u7996.mouseOver {
}
#u7996_img.mouseDown {
}
#u7996.mouseDown {
}
#u7996_img.selected {
}
#u7996.selected {
}
#u7996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u7997_img.mouseOver {
}
#u7997.mouseOver {
}
#u7997_img.mouseDown {
}
#u7997.mouseDown {
}
#u7997_img.selected {
}
#u7997.selected {
}
#u7997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1102px;
  width:1089px;
  height:378px;
  overflow:hidden;
}
#u7998_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7998_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
}
#u7999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:83px;
  width:180px;
  height:180px;
}
#u8000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:83px;
  width:178px;
  height:180px;
}
#u8001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:83px;
  width:182px;
  height:180px;
}
#u8002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:83px;
  width:178px;
  height:180px;
}
#u8003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:273px;
  width:161px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:273px;
  width:119px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:273px;
  width:173px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u8007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:273px;
  width:100px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:39px;
  width:206px;
  height:282px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:162px;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:561px;
  width:94px;
  height:162px;
  opacity:0.5;
}
#u8009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:53px;
  width:202px;
  height:277px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:162px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:-1140px;
  top:567px;
  width:94px;
  height:162px;
  opacity:0.5;
}
#u8011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:178px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:91px;
  width:104px;
  height:178px;
  opacity:0.5;
}
#u8012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:182px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:98px;
  width:106px;
  height:182px;
  opacity:0.5;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7998_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7998_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8014 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8014_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background-image:none;
}
#u8014_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-size:36px;
}
#u8015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:125px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:1060px;
  height:125px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:200px;
}
#u8016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:128px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:182px;
  width:199px;
  height:128px;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:214px;
  width:300px;
  height:64px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#94B20E;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:163px;
  width:162px;
  height:92px;
  color:#94B20E;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:181px;
  width:94px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u8021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:163px;
  width:162px;
  height:92px;
}
#u8021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:195px;
  width:128px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:140px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:137px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:96px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:96px;
  width:2px;
  height:93px;
}
#u8025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:96px;
  width:2px;
  height:72px;
}
#u8026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8027_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:96px;
  width:2px;
  height:72px;
}
#u8027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:120px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:10px;
  width:116px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7998_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7998_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8030 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8030_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background-image:none;
}
#u8030_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  font-size:36px;
}
#u8031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8032_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:96px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:96px;
  width:2px;
  height:93px;
}
#u8032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8033_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:96px;
  width:2px;
  height:72px;
}
#u8033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8034_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:96px;
  width:2px;
  height:72px;
}
#u8034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:125px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:1060px;
  height:125px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:200px;
}
#u8035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8036_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:96px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:96px;
  width:2px;
  height:93px;
}
#u8036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:128px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:182px;
  width:199px;
  height:128px;
}
#u8037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:214px;
  width:300px;
  height:64px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#94B20E;
  text-align:center;
}
#u8038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:96px;
  width:2px;
  height:72px;
}
#u8039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#94B20E;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:163px;
  width:162px;
  height:92px;
  color:#94B20E;
}
#u8040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:181px;
  width:94px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u8041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:96px;
  width:2px;
  height:72px;
}
#u8042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:92px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:163px;
  width:162px;
  height:92px;
}
#u8043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:195px;
  width:128px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#94B20E;
}
#u8044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u8045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:140px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:137px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:120px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:10px;
  width:116px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
