body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1281px;
  height:352px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:53px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:23px;
  width:562px;
  height:59px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  white-space:nowrap;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:173px;
  width:300px;
  height:25px;
}
#u2250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:173px;
  width:25px;
  height:25px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1380px;
  width:1280px;
  height:257px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1451px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u2254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:1537px;
  width:389px;
  height:100px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:1569px;
  width:50px;
  height:50px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1569px;
  width:50px;
  height:50px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:1569px;
  width:50px;
  height:50px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:1569px;
  width:50px;
  height:50px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:1569px;
  width:50px;
  height:50px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1441px;
  width:356px;
  height:90px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:1463px;
  width:71px;
  height:58px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:1539px;
  width:91px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u2263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1481px;
  width:189px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  white-space:nowrap;
}
#u2264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1511px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  white-space:nowrap;
}
#u2265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1541px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u2266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1571px;
  width:91px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u2267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#000000;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1463px;
  width:259px;
  height:46px;
  font-size:36px;
  color:#000000;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u2268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:230px;
  width:356px;
  height:330px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:280px;
  width:350px;
  height:280px;
}
#u2269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:280px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:242px;
  width:85px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1018px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:757px;
  width:356px;
  height:611px;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:762px;
  width:184px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:793px;
  width:205px;
  height:30px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2274_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:817px;
  width:255px;
  height:16px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u2275_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:842px;
  width:205px;
  height:30px;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2276_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:867px;
  width:205px;
  height:30px;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2277_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:893px;
  width:255px;
  height:16px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u2278_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:918px;
  width:205px;
  height:16px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2279_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:943px;
  width:205px;
  height:16px;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2280_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:968px;
  width:205px;
  height:16px;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2281_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:991px;
  width:205px;
  height:16px;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2282_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1015px;
  width:205px;
  height:16px;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2283_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1039px;
  width:205px;
  height:16px;
}
#u2284_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2284_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1066px;
  width:205px;
  height:16px;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2285_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1093px;
  width:205px;
  height:16px;
}
#u2286_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2286_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1119px;
  width:205px;
  height:16px;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2287_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1144px;
  width:205px;
  height:16px;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2288_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1169px;
  width:205px;
  height:16px;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2289_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1194px;
  width:205px;
  height:16px;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2290_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1220px;
  width:205px;
  height:16px;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2291_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1244px;
  width:205px;
  height:16px;
}
#u2292_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2292_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1268px;
  width:205px;
  height:16px;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2293_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1291px;
  width:205px;
  height:16px;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2294_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:570px;
  width:356px;
  height:177px;
}
#u2295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:614px;
  width:246px;
  height:16px;
}
#u2296_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2296_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:583px;
  width:186px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:682px;
  width:246px;
  height:16px;
}
#u2298_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2298_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:709px;
  width:246px;
  height:16px;
}
#u2299_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2299_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1402px;
  width:304px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u2301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:1408px;
  width:492px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1456px;
  width:258px;
  height:85px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  word-wrap:break-word;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:641px;
  width:246px;
  height:31px;
}
#u2303_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2303_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1315px;
  width:205px;
  height:16px;
}
#u2304_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2304_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1341px;
  width:205px;
  height:16px;
}
#u2305_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2305_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:174px;
  width:708px;
  height:1206px;
}
#u2306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:264px;
  width:190px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:190px;
  width:398px;
  height:64px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:230px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:305px;
  width:237px;
  height:230px;
}
#u2309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:302px;
  width:390px;
  height:204px;
  font-size:20px;
}
#u2310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u2311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:557px;
  width:637px;
  height:181px;
  font-size:20px;
}
#u2311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  word-wrap:break-word;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#94B20E;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:748px;
  width:234px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#94B20E;
}
#u2312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:817px;
  width:300px;
  height:33px;
}
#u2313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:786px;
  width:187px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:898px;
  width:300px;
  height:36px;
}
#u2315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:867px;
  width:239px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(113, 0, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:956px;
  width:140px;
  height:40px;
}
#u2317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:2px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:737px;
  width:637px;
  height:1px;
}
#u2318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:273px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:759px;
  width:1px;
  height:272px;
}
#u2319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:786px;
  width:80px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:837px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#94B20E;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:1066px;
  width:499px;
  height:126px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#94B20E;
}
#u2322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#7100B2;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1108px;
  width:179px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#7100B2;
}
#u2323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:128px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:23px;
  width:313px;
  height:128px;
}
#u2324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:346px;
}
#u2325_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:346px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:346px;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2327_img.mouseOver {
}
#u2327.mouseOver {
}
#u2327_img.selected {
}
#u2327.selected {
}
#u2327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:156px;
  height:66px;
}
#u2328_img.mouseOver {
}
#u2328.mouseOver {
}
#u2328_img.selected {
}
#u2328.selected {
}
#u2328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:156px;
  height:46px;
}
#u2329_img.mouseOver {
}
#u2329.mouseOver {
}
#u2329_img.selected {
}
#u2329.selected {
}
#u2329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:156px;
  height:50px;
}
#u2330_img.mouseOver {
}
#u2330.mouseOver {
}
#u2330_img.selected {
}
#u2330.selected {
}
#u2330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:156px;
  height:56px;
}
#u2331_img.mouseOver {
}
#u2331.mouseOver {
}
#u2331_img.selected {
}
#u2331.selected {
}
#u2331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:156px;
  height:62px;
}
#u2332_img.mouseOver {
}
#u2332.mouseOver {
}
#u2332_img.selected {
}
#u2332.selected {
}
#u2332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:66px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u2333_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2335_img.mouseOver {
}
#u2335.mouseOver {
}
#u2335_img.mouseDown {
}
#u2335.mouseDown {
}
#u2335_img.selected {
}
#u2335.selected {
}
#u2335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u2336_img.mouseOver {
}
#u2336.mouseOver {
}
#u2336_img.mouseDown {
}
#u2336.mouseDown {
}
#u2336_img.selected {
}
#u2336.selected {
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u2337_img.mouseOver {
}
#u2337.mouseOver {
}
#u2337_img.mouseDown {
}
#u2337.mouseDown {
}
#u2337_img.selected {
}
#u2337.selected {
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u2338_img.mouseOver {
}
#u2338.mouseOver {
}
#u2338_img.mouseDown {
}
#u2338.mouseDown {
}
#u2338_img.selected {
}
#u2338.selected {
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u2339_img.mouseOver {
}
#u2339.mouseOver {
}
#u2339_img.mouseDown {
}
#u2339.mouseDown {
}
#u2339_img.selected {
}
#u2339.selected {
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u2340_img.mouseOver {
}
#u2340.mouseOver {
}
#u2340_img.mouseDown {
}
#u2340.mouseDown {
}
#u2340_img.selected {
}
#u2340.selected {
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u2341_img.mouseOver {
}
#u2341.mouseOver {
}
#u2341_img.mouseDown {
}
#u2341.mouseDown {
}
#u2341_img.selected {
}
#u2341.selected {
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u2342_img.mouseOver {
}
#u2342.mouseOver {
}
#u2342_img.mouseDown {
}
#u2342.mouseDown {
}
#u2342_img.selected {
}
#u2342.selected {
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u2343_img.mouseOver {
}
#u2343.mouseOver {
}
#u2343_img.mouseDown {
}
#u2343.mouseDown {
}
#u2343_img.selected {
}
#u2343.selected {
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
