body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1281px;
  height:352px;
}
#u2616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:53px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:23px;
  width:562px;
  height:59px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  white-space:nowrap;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:173px;
  width:300px;
  height:25px;
}
#u2619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:173px;
  width:25px;
  height:25px;
}
#u2620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1376px;
  width:1280px;
  height:257px;
}
#u2621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1447px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u2623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:1533px;
  width:389px;
  height:100px;
}
#u2623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:1565px;
  width:50px;
  height:50px;
}
#u2624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1565px;
  width:50px;
  height:50px;
}
#u2625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:1565px;
  width:50px;
  height:50px;
}
#u2626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:1565px;
  width:50px;
  height:50px;
}
#u2627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:1565px;
  width:50px;
  height:50px;
}
#u2628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1437px;
  width:356px;
  height:90px;
}
#u2629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:1459px;
  width:71px;
  height:58px;
}
#u2630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:1535px;
  width:91px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u2632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1477px;
  width:189px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  white-space:nowrap;
}
#u2633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1507px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  white-space:nowrap;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1537px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u2635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1567px;
  width:91px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u2635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u2636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#000000;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1459px;
  width:259px;
  height:46px;
  font-size:36px;
  color:#000000;
}
#u2636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u2637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:230px;
  width:356px;
  height:330px;
}
#u2637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:280px;
  width:350px;
  height:280px;
}
#u2638_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:280px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:242px;
  width:85px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1018px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u2640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:757px;
  width:356px;
  height:611px;
}
#u2641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:762px;
  width:184px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:793px;
  width:205px;
  height:30px;
}
#u2643_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2643_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:817px;
  width:255px;
  height:16px;
}
#u2644_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u2644_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:842px;
  width:205px;
  height:30px;
}
#u2645_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2645_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:867px;
  width:205px;
  height:30px;
}
#u2646_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2646_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:893px;
  width:255px;
  height:16px;
}
#u2647_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u2647_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:918px;
  width:205px;
  height:16px;
}
#u2648_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2648_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:943px;
  width:205px;
  height:16px;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2649_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:968px;
  width:205px;
  height:16px;
}
#u2650_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2650_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:991px;
  width:205px;
  height:16px;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2651_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1015px;
  width:205px;
  height:16px;
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2652_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1039px;
  width:205px;
  height:16px;
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2653_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1066px;
  width:205px;
  height:16px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2654_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1093px;
  width:205px;
  height:16px;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2655_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1119px;
  width:205px;
  height:16px;
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2656_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1144px;
  width:205px;
  height:16px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2657_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1169px;
  width:205px;
  height:16px;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2658_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1194px;
  width:205px;
  height:16px;
}
#u2659_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2659_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1220px;
  width:205px;
  height:16px;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2660_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1244px;
  width:205px;
  height:16px;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2661_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1268px;
  width:205px;
  height:16px;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2662_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1291px;
  width:205px;
  height:16px;
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2663_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:570px;
  width:356px;
  height:177px;
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:614px;
  width:246px;
  height:16px;
}
#u2665_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2665_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:583px;
  width:186px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:682px;
  width:246px;
  height:16px;
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2667_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:709px;
  width:246px;
  height:16px;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2668_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1398px;
  width:304px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:1404px;
  width:492px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u2671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1452px;
  width:258px;
  height:85px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  word-wrap:break-word;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:641px;
  width:246px;
  height:31px;
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2672_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1315px;
  width:205px;
  height:16px;
}
#u2673_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2673_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1341px;
  width:205px;
  height:16px;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u2674_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:1206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:170px;
  width:708px;
  height:1206px;
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:244px;
  width:504px;
  height:74px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:2px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1024px;
  width:637px;
  height:1px;
}
#u2677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#94B20E;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1189px;
  width:499px;
  height:126px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#94B20E;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
#u2679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#7100B2;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1231px;
  width:179px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#7100B2;
}
#u2679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u2680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:326px;
  width:300px;
  height:227px;
  font-size:20px;
}
#u2680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:453px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:561px;
  width:660px;
  height:453px;
  font-size:20px;
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u2682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1049px;
  width:452px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7100B2;
}
#u2682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  white-space:nowrap;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:223px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:328px;
  width:326px;
  height:223px;
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:128px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:23px;
  width:313px;
  height:128px;
}
#u2684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:346px;
}
#u2685_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:346px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:346px;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2687_img.mouseOver {
}
#u2687.mouseOver {
}
#u2687_img.selected {
}
#u2687.selected {
}
#u2687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:156px;
  height:66px;
}
#u2688_img.mouseOver {
}
#u2688.mouseOver {
}
#u2688_img.selected {
}
#u2688.selected {
}
#u2688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:156px;
  height:46px;
}
#u2689_img.mouseOver {
}
#u2689.mouseOver {
}
#u2689_img.selected {
}
#u2689.selected {
}
#u2689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:156px;
  height:50px;
}
#u2690_img.mouseOver {
}
#u2690.mouseOver {
}
#u2690_img.selected {
}
#u2690.selected {
}
#u2690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:156px;
  height:56px;
}
#u2691_img.mouseOver {
}
#u2691.mouseOver {
}
#u2691_img.selected {
}
#u2691.selected {
}
#u2691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:156px;
  height:62px;
}
#u2692_img.mouseOver {
}
#u2692.mouseOver {
}
#u2692_img.selected {
}
#u2692.selected {
}
#u2692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:66px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u2693_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2695_img.mouseOver {
}
#u2695.mouseOver {
}
#u2695_img.mouseDown {
}
#u2695.mouseDown {
}
#u2695_img.selected {
}
#u2695.selected {
}
#u2695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u2696_img.mouseOver {
}
#u2696.mouseOver {
}
#u2696_img.mouseDown {
}
#u2696.mouseDown {
}
#u2696_img.selected {
}
#u2696.selected {
}
#u2696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u2697_img.mouseOver {
}
#u2697.mouseOver {
}
#u2697_img.mouseDown {
}
#u2697.mouseDown {
}
#u2697_img.selected {
}
#u2697.selected {
}
#u2697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u2698_img.mouseOver {
}
#u2698.mouseOver {
}
#u2698_img.mouseDown {
}
#u2698.mouseDown {
}
#u2698_img.selected {
}
#u2698.selected {
}
#u2698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u2699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u2699_img.mouseOver {
}
#u2699.mouseOver {
}
#u2699_img.mouseDown {
}
#u2699.mouseDown {
}
#u2699_img.selected {
}
#u2699.selected {
}
#u2699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u2700_img.mouseOver {
}
#u2700.mouseOver {
}
#u2700_img.mouseDown {
}
#u2700.mouseDown {
}
#u2700_img.selected {
}
#u2700.selected {
}
#u2700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u2701_img.mouseOver {
}
#u2701.mouseOver {
}
#u2701_img.mouseDown {
}
#u2701.mouseDown {
}
#u2701_img.selected {
}
#u2701.selected {
}
#u2701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u2702_img.mouseOver {
}
#u2702.mouseOver {
}
#u2702_img.mouseDown {
}
#u2702.mouseDown {
}
#u2702_img.selected {
}
#u2702.selected {
}
#u2702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u2703_img.mouseOver {
}
#u2703.mouseOver {
}
#u2703_img.mouseDown {
}
#u2703.mouseDown {
}
#u2703_img.selected {
}
#u2703.selected {
}
#u2703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:190px;
  width:356px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  white-space:nowrap;
}
