body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12158 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:227px;
  width:300px;
  height:25px;
}
#u12158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12159 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:227px;
  width:25px;
  height:25px;
}
#u12159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1191px;
  width:1280px;
  height:257px;
}
#u12160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u12161 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1262px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u12161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12162 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:1252px;
  width:315px;
  height:90px;
}
#u12162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u12163 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:1279px;
  width:50px;
  height:41px;
}
#u12163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12164 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:1350px;
  width:91px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u12165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u12165 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1292px;
  width:189px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u12165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  white-space:nowrap;
}
#u12166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u12166 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1322px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u12166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  white-space:nowrap;
}
#u12167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u12167 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1352px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u12167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u12168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9900FF;
}
#u12168 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1382px;
  width:91px;
  height:20px;
  font-size:14px;
  color:#9900FF;
}
#u12168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u12169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#000000;
}
#u12169 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1274px;
  width:219px;
  height:46px;
  font-size:36px;
  color:#000000;
}
#u12169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  white-space:nowrap;
}
#u12170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:352px;
}
#u12170 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-20px;
  width:1281px;
  height:352px;
}
#u12170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:888px;
}
#u12171 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:280px;
  width:1075px;
  height:888px;
}
#u12171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:681px;
}
#u12172 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:391px;
  width:1px;
  height:680px;
}
#u12172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:995px;
}
#u12173 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:173px;
  width:579px;
  height:995px;
}
#u12173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12174 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:391px;
  width:99px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12175 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:477px;
  width:48px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12176 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:557px;
  width:72px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12177 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:657px;
  width:69px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u12178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12178 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:391px;
  width:283px;
  height:56px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u12179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12179 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:477px;
  width:351px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u12180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12180 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:535px;
  width:50px;
  height:50px;
}
#u12180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12181 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:535px;
  width:50px;
  height:50px;
}
#u12181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12182 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:535px;
  width:50px;
  height:50px;
}
#u12182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12183 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:535px;
  width:50px;
  height:50px;
}
#u12183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12184 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:657px;
  width:517px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
#u12185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12185 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1218px;
  width:304px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u12186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12186 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:1224px;
  width:492px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u12187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12187 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:1348px;
  width:399px;
  height:100px;
}
#u12187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12188 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:535px;
  width:50px;
  height:50px;
}
#u12188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12189 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:1378px;
  width:50px;
  height:50px;
}
#u12189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12190 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:1378px;
  width:50px;
  height:50px;
}
#u12190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12191 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1378px;
  width:50px;
  height:50px;
}
#u12191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12192 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:1378px;
  width:50px;
  height:50px;
}
#u12192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12193 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:1378px;
  width:50px;
  height:50px;
}
#u12193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12194 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:197px;
  width:120px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u12195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 178, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12195 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:42px;
  width:357px;
  height:40px;
  color:#FFFFFF;
}
#u12195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u12196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12196 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:632px;
  height:66px;
  font-family:'BanglaMN', 'Bangla MN';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  white-space:nowrap;
}
#u12197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:74px;
}
#u12197 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:52px;
  width:179px;
  height:74px;
}
#u12197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12199 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:208px;
  width:307px;
  height:225px;
}
#u12199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u12201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  font-size:16px;
  text-align:left;
}
.u12201_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  background:inherit;
  background-color:rgba(68, 92, 105, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
.u12201.mouseOver {
}
.u12201_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u12200-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
}
#u12200-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:305px;
  height:45px;
}
#u12200-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:305px;
  height:45px;
}
#u12200-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:305px;
  height:45px;
}
#u12200-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:305px;
  height:45px;
}
#u12200 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:208px;
  width:305px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u12202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  color:#999999;
}
#u12203 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:173px;
  width:356px;
  height:36px;
  color:#999999;
}
#u12203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12204 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:179px;
  width:293px;
  height:25px;
}
#u12204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u12205 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:183px;
  width:23px;
  height:20px;
}
#u12205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12206 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:174px;
  width:156px;
  height:386px;
}
#u12206_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:386px;
}
#u12208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12208_img.mouseOver {
}
#u12208.mouseOver {
}
#u12208_img.selected {
}
#u12208.selected {
}
#u12208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u12209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:66px;
}
#u12209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:156px;
  height:66px;
}
#u12209_img.mouseOver {
}
#u12209.mouseOver {
}
#u12209_img.selected {
}
#u12209.selected {
}
#u12209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:152px;
  word-wrap:break-word;
}
#u12210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
}
#u12210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:156px;
  height:46px;
}
#u12210_img.mouseOver {
}
#u12210.mouseOver {
}
#u12210_img.selected {
}
#u12210.selected {
}
#u12210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u12211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u12211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:156px;
  height:50px;
}
#u12211_img.mouseOver {
}
#u12211.mouseOver {
}
#u12211_img.selected {
}
#u12211.selected {
}
#u12211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:152px;
  word-wrap:break-word;
}
#u12212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u12212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:156px;
  height:50px;
}
#u12212_img.mouseOver {
}
#u12212.mouseOver {
}
#u12212_img.selected {
}
#u12212.selected {
}
#u12212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:56px;
}
#u12213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:156px;
  height:56px;
}
#u12213_img.mouseOver {
}
#u12213.mouseOver {
}
#u12213_img.selected {
}
#u12213.selected {
}
#u12213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:152px;
  word-wrap:break-word;
}
#u12214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u12214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:156px;
  height:62px;
}
#u12214_img.mouseOver {
}
#u12214.mouseOver {
}
#u12214_img.selected {
}
#u12214.selected {
}
#u12214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  word-wrap:break-word;
}
#u12215 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:56px;
  width:156px;
  height:315px;
  visibility:hidden;
}
#u12215_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:315px;
}
#u12217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12217_img.mouseOver {
}
#u12217.mouseOver {
}
#u12217_img.mouseDown {
}
#u12217.mouseDown {
}
#u12217_img.selected {
}
#u12217.selected {
}
#u12217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
}
#u12218_img.mouseOver {
}
#u12218.mouseOver {
}
#u12218_img.mouseDown {
}
#u12218.mouseDown {
}
#u12218_img.selected {
}
#u12218.selected {
}
#u12218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
}
#u12219_img.mouseOver {
}
#u12219.mouseOver {
}
#u12219_img.mouseDown {
}
#u12219.mouseDown {
}
#u12219_img.selected {
}
#u12219.selected {
}
#u12219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
}
#u12220_img.mouseOver {
}
#u12220.mouseOver {
}
#u12220_img.mouseDown {
}
#u12220.mouseDown {
}
#u12220_img.selected {
}
#u12220.selected {
}
#u12220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u12221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
}
#u12221_img.mouseOver {
}
#u12221.mouseOver {
}
#u12221_img.mouseDown {
}
#u12221.mouseDown {
}
#u12221_img.selected {
}
#u12221.selected {
}
#u12221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
}
#u12222_img.mouseOver {
}
#u12222.mouseOver {
}
#u12222_img.mouseDown {
}
#u12222.mouseDown {
}
#u12222_img.selected {
}
#u12222.selected {
}
#u12222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
}
#u12223_img.mouseOver {
}
#u12223.mouseOver {
}
#u12223_img.mouseDown {
}
#u12223.mouseDown {
}
#u12223_img.selected {
}
#u12223.selected {
}
#u12223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
}
#u12224_img.mouseOver {
}
#u12224.mouseOver {
}
#u12224_img.mouseDown {
}
#u12224.mouseDown {
}
#u12224_img.selected {
}
#u12224.selected {
}
#u12224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
}
#u12225_img.mouseOver {
}
#u12225.mouseOver {
}
#u12225_img.mouseDown {
}
#u12225.mouseDown {
}
#u12225_img.selected {
}
#u12225.selected {
}
#u12225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:700px;
  width:630px;
  height:313px;
}
#u12226_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:313px;
  overflow:scroll;
}
